.navbar{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 99;
}
.navbar .logo p{
    font-size: 2rem;
    font-family: 'Playwrite AU SA',serif;
    cursor: text;
}
.navbar .mob-menu{
    z-index: 99;
}
.navbar .mob-menu .bar-icon {
    font-size: 1.9rem;
    padding: .7rem; 
    border-radius: 50%;
    background: transparent;
    transition: background-color 0.5s ease-in;
    cursor: pointer ;
}
.navbar .mob-menu .bar-icon:hover {
    background-color: var(--voilet-color); 
    background-image: linear-gradient(45deg, var(--voilet-color), var(--orangish-color));
}
.navbar .mob-menu .bar-icon:active{
    cursor: progress;
}
.navbar .nav-links .mob-menu .cross{
    position: absolute;
    font-size: 1.9rem;
    padding: .7rem .85rem;
    top: 0.7rem;
    right: 1rem;
    border-radius: 50%;
    background: transparent;
    transition: background-color 0.5s ease-in;
    cursor: pointer ;
}
.navbar .nav-links .mob-menu .cross:hover {
    background-color: var(--voilet-color); 
    background-image: linear-gradient(45deg, var(--voilet-color), var(--orangish-color));
}
.navbar .nav-links .link{
    display: inline-block;
    text-decoration: none;
    padding: .5rem 1rem;
    margin: 1.2rem .25rem;
    font-size: 1.1rem;
    color: var(--primary-color);
    letter-spacing: 1px;
    transition: 0.5s;
}
.navbar .nav-links .link:hover{
    transform: translateY(-7px);
}
.navbar .nav-links .active{   
    background: linear-gradient(260deg,#da7c25, #b923e1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid #b923e1; 
}   
.navbar .contactme{
    position: relative;
    text-decoration: none;
    padding: .8rem 2.5rem;
    font-size: .9rem;
    border: none;
    background: linear-gradient(265deg,#da7c25 .36%, #b923e1 102%);
    color: var(--primary-color);
    letter-spacing: 1px;
    border-radius: 3.13rem;
    cursor: pointer;
    transition: .5s;
}
.navbar .contactme:hover{
    transform: scale(1.05);
    background: none;
    border-left: 1px solid #b923e1;
    border-top: 1px solid #b923e1;
    border-right: 1px solid #da7c25;
    border-bottom: 1px solid #da7c25; 
}


@media(min-width:991px){
    .navbar .mob-menu {
        display: none;
    }
}
@media(max-width:990px){
    .navbar .logo p{
        position: absolute;
        top: 0.5rem;
        left: 5rem;
    }
    .navbar .nav-links{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: -100%;
        width: 18rem;
        height: 100vh;
        padding: 5rem 0 0 .5rem;
        background: var(--secondary-color);
        z-index: 9;
        transition: right 0.5s ease-in-out;
    }
    .nav-links.show{
        right: 0;
    }
    .navbar .contactme{
        display: none;
    }
    .navbar .nav-links .link{
        position: relative;
        width: 45%;
        border-bottom: 0;
        margin: 1rem .25rem;
    }
    .navbar .nav-links .link:hover{
        transform: translateX(7px);
    }
    .nav-links .link::after{
        position: absolute;
        content: '';
        bottom: .4rem;
        left: .85rem;
        width: 0px;
        height: 2px;
        background: var(--voilet-color);
        transition: 0.5s ease-out;
    }
    .nav-links .link:nth-child(2):hover::after{
        width: 65px;
    }
    .nav-links .link:nth-child(3):hover::after{
        width: 100px;
    }
    .nav-links .link:nth-child(4):hover::after{
        width: 58px;
    }
    .nav-links .link:nth-child(5):hover::after{
        width: 88px;
    }
    .nav-links .link:nth-child(6):hover::after{
        width: 83px;
    }

}
@media(max-width:425px){
    .navbar .logo p{
        left: 2rem;
    }
}
